/* Barlow Semi Condensed    font-family: 'Barlow Semi Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');
/*Josefin Slab   font-family: 'Josefin Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Josefin+Slab:wght@100&display=swap');
/*overlock     font-family: 'Overlock', cursive; */
@import url('https://fonts.googleapis.com/css2? family=Advent+Pro:wght@100&family=Barlow+Semi+Condensed:wght@100&family=Josefin+Slab:wght@100&family=Overlock&display=swap');


/*   --primary-color: #d9d9d9;
  --secondary-color: #545454;
  --accent1-color: #D9C5B2;
  --accent2-color: #396E94; 

  --heading-font: 'Barlow Semi Condensed', sans-serif; 
  --paragraph-font: 'Overlock', cursive;
*/

}
main img {
  width: 100%;
}

body {
  background-color: #545454;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1, h2, h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 32px;
  color: white;
}

p {
  font-family: 'Overlock', cursive;
  color: white;
}

a {
  text-decoration: none;
  color: #396E94;
}
a:hover {
  color: #545454;
  text-decoration: underline;
}


#content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
  
}

main {
  background-color: #183059;
  
}


#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;

}
.moveDown {
    margin-top: 3em;
}


form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

@media screen and (max-width: 550px) {
  .home-grid, nav ul, .banner {
    display: block;
  }
}



/* Header */

header {
  display: grid;
  background-color: #d9d9d9;
  grid-template-columns: 1fr 1fr;
  align-items: center; 
}

.logo {
  width: 50%;
}

nav, ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  text-align: center;
  margin: 0;
}


.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #183059;
  width: 100%;
  
}

.photographers, .r, .us {
  text-align: center;
  width: 100%;
  

  
}

.ban-pic-1, .ban-pic-2, .ban-pic-3 {
  border-top:4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
  width: 100%;
}



/*home grid */

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr
  width: 100%;
  margin: 10px 5px 10px 5px;
  
  
}

.intro {
  grid-column: 1/3;
  text-align: center;
  border-bottom: 4px solid #d9d9d9;
  margin: 10px 0 0 0;
  width: 100%;
  padding: 0 0 20px 0;
  
}

.find-section {
  padding: 0 10px 10px 20px;
 
  display: grid;
  
}

.sign-up-section {
  padding: 0 20px 10px 10px;
  
  display: grid;
  border-radius: 7px;
}

.header-for-find, .header-for-sign-up, .paragraph-for-find, .paragraph-for-sign-up {
  text-align: center;
}

button {
  width: 200px;
  height: 30px;
  font-family: 'Overlock', cursive;
  color: white;
  font-size: 15px;
  color: #1D3461;
  border-radius: 7px;
  margin: 10px auto;
  
  
}

button:hover {
  background-color: #1D3461;
  color: white;
}

/*footer*/

footer{
  display: grid;
  
}